# Kaggle
KAGGLE_USERNAME=lakshay246
KAGGLE_KEY=KGAT_7f49ba5fec376db3d6663af2f04fe224

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pharma_analytics
DB_USER=postgres
DB_PASSWORD=postgre@12

# AWS
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_REGION=us-east-1
S3_BUCKET=pharma-analytics-data
