# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pharma_analytics
DB_USER=postgres
DB_PASSWORD=your_password

# Azure PostgreSQL
AZURE_DB_HOST=your_server.postgres.database.azure.com
AZURE_DB_PORT=5432
AZURE_DB_NAME=medforcast
AZURE_DB_USER=medadmin
AZURE_DB_PASSWORD=your_azure_password

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=your_connection_string
AZURE_CONTAINER_NAME=pharma-analytics-data
